/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  -webkit-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Roboto", sans-serif;
  background: #f5f5f5;
  color: #111111;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}

:focus {
  outline: 0;
}

.container {
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.header {
  background: rgb(187, 54, 150);
  background: linear-gradient(45deg, rgba(187, 54, 150, 1) 0%, rgba(165, 110, 212, 1) 100%);
  padding-bottom: 4rem;
}

.header {
  h1 {
    width: 100%;
    font-size: 3rem;
    font-weight: 200;
    color: white;
    padding-top: 2rem;
    margin: 0;
  }
  p {
    margin: 0;
    color: white;
    padding-bottom: 1.2rem;
  }
}

.todoapp-wrapper {
  position: relative;
  top: -40px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
